<div class="container">
  <div class="alert alert-primary text-center" role="alert">
      <h1>Welcome to Job Mate Dashboard</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-header text-center">Total Jobs</div>
        <div class="card-body text-center">
          <h2 class="card-title">{{ totalJobs }}</h2>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-info mb-3">
        <div class="card-header text-center">Total Resumes</div>
        <div class="card-body text-center">
          <h2 class="card-title">{{ totalResumes }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>